table{
    border-collapse: collapse;
    border: 1px  solid black;
    width: 100%;
    text-align: center;
}
th{
    font-style: italic;
    padding: 5px 15px;
    border: 1px solid black;
    border-bottom: 3px solid black;
}
td{
    padding: 20px 15px;
    border: 1px solid black; 
}
tr:nth-child(2n-1){
    background: #4BD1A2;
}

.pic1{
    position: relative;
    top: 30px;
    z-index: 1;
   
}

.pic2{
    position: relative;
    top: -250px;
    z-index: 2;
    
}

.pic3{
    position: relative;
    top: -300px;
    z-index: 3;
   
}
